<%- include("partials/header.ejs"); %>

<% if (!(current_user = null)) { %>
    <%- include("create.ejs"); %>

<% } %>

    <h2>Browse Posts</h2>
    <% if (posts.length > 0) { %>
        <% posts.forEach((element, index) => { %>
            <h3> <%= element.title %> </h3>
            <h4> <em><%= element.creator_name %></em> </h4>
            <p> <%= element.body %> </p>
            <form action="/edit/<%= element.blog_id %>" method="GET">
                <button type="submit">Edit</button>
            </form>
            <form action= "/delete/<%= element.blog_id %>" method="POST">
                <button type="submit">Delete</button>
            </form>
        <% }); %>
    <% } else { %>
        <p>No posts available.</p>
    <% } %>

    <%- include("partials/footer.ejs"); %>
